Checks: '-*,bugprone-*,-bugprone-easily-swappable-parameters,clang-analyzer-*,-clang-analyzer-cplusplus*,misc-*,performance-*,-performance-enum-size,portability-*,readability-*,-readability-identifier-length'
